{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div id="postfeed" class="container">
        <div class="grid">
            <div class="post grid_item">
                <div class="post_container">
                    <div class="post_img flex">
                        <img src="{% static 'img/demo.jpg' %}">
                    </div>
                    <div class="post_text">
                        <p class="post_title">Title</p>
                        <p class="post_desc">This is the description. We can add as many lines as we want.</p>
                    </div>
                </div>
            </div>
            <div class="post grid_item">
                <div class="post_container">
                    <div class="post_img flex">
                        <img src="{% static 'img/demo1.jpg' %}">
                    </div>
                    <div class="post_text">
                        <p class="post_title">Title</p>
                        <p class="post_desc">This is the description. We can add as many lines as we want.</p>
                    </div>
                </div>
            </div>
            <div class="post grid_item">
                <div class="post_container">
                    <div class="post_img flex">
                        <img src="{% static 'img/demo2.jpg' %}">
                    </div>
                    <div class="post_text">
                        <p class="post_title">Title</p>
                        <p class="post_desc">This is the description. We can add as many lines as we want.</p>
                    </div>
                </div>
            </div>
            <div class="post grid_item">
                <div class="post_container">
                    <div class="post_img flex">
                        <img src="{% static 'img/demo.jpg' %}">
                    </div>
                    <div class="post_text">
                        <p class="post_title">Title</p>
                        <p class="post_desc">This is the description. We can add as many lines as we want.</p>
                    </div>
                </div>
            </div>
            <div class="post grid_item">
                <div class="post_container">
                    <div class="post_img flex">
                        <img src="{% static 'img/demo1.jpg' %}">
                    </div>
                    <div class="post_text">
                        <p class="post_title">Title</p>
                        <p class="post_desc">This is the description. We can add as many lines as we want.</p>
                    </div>
                </div>
            </div>
            <div class="post grid_item">
                <div class="post_container">
                    <div class="post_img flex">
                        <img src="{% static 'img/demo2.jpg' %}">
                    </div>
                    <div class="post_text">
                        <p class="post_title">Title</p>
                        <p class="post_desc">This is the description. We can add as many lines as we want.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
