{% extends 'main.html' %}

{% load static %}

{% block pagename %}
    Sign Up
{% endblock %}

{% block content %}
    <div id="signupform" class="container flex">
        <div class="form_container">
            <form id="signup" method="post">
              {% csrf_token %}
                <div class="form_group">
                    <div class="form_element halfwidth centertext">
                        <input type="text" id="su_firstname" name="su_firstname" placeholder="FIRST NAME" />
                    </div>
                    <div class="form_element halfwidth centertext">
                        <input type="text" id="su_lastname" name="su_lastname" placeholder="LAST NAME" />
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_element centertext">
                        <input type="text" id="su_email" name="su_email" placeholder="EMAIL ADDRESS" />
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_element centertext">
                        <input type="password" id="su_password" name="su_password" placeholder="PASSWORD" />
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_element centertext">
                        <input type="password" id="su_cpassword" name="su_cpassword" placeholder="CONFIRM PASSWORD" />
                    </div>
                </div>
                <div class="form_group form_special">
                    <div class="form_element centertext">
                        <input type="checkbox" id="su_agree" name="su_agree" value="agree"><span>I agree to the <a href="terms.html">Term &amp; Conditions</a>.</span>
                    </div>
                </div>
                <div class="form_group form_special">
                    <div class="form_element centertext">
                        <button type="submit" id="su_signup" class="btn" name="su_signup">SIGN UP</button>
                    </div>
                </div>
                <div class="form_group form_special">
                    <div class="form_element centertext">
                        <span>Already have an account? <a href="/users/login">Sign In</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ form.errors }}
{% endblock %}
