{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div id="signinform" class="container flex">
        <div class="form_container">
            <form id="signin" method="post">
              {% csrf_token %}
                <div class="form_group">
                    <div class="form_element">
                        <input type="text" id="si_username" name="si_username" placeholder="EMAIL / USERNAME" />
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_element">
                        <input type="password" id="si_password" name="si_password" placeholder="PASSWORD" />
                    </div>
                </div>
                <div class="form_group form_special">
                    <div class="form_element">
                        <button type="submit" id="si_signin" class="btn" name="si_signin">SIGN IN</button>
                    </div>
                </div>
                <div class="form_group form_special">
                    <div class="form_element">
                        <span><a href="signup.html">Forgot password</a></span>
                    </div>
                </div>
                <div class="form_group form_special">
                    <div class="form_element">
                        <span>Need an account? <a href="/users/signup">Sign Up</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
