{% extends 'main.html' %}

{% load static %}

{% block pagename %}
    Edit Profile
{% endblock %}

{% block content %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{form.media}}
  <h2>Edit Profile</h2>
  <p>
    Username: {{ user.username }}
    <br />
    Name: {{ user.first_name }} {{ user.last_name }}
    <br />
    Email: {{ user.email }}
  </p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    </form>
    <p>
    <a href="/users/settings/change-password">Change Password</a>
    </p>
    <p>
    <a href="/users/settings/change-username">Change username</a>
    </p>
{% endblock %}
